<div class="section">
  <div class="container">
    <div class="main-search-form">
      <div>
        <h1>Hello Im <span class="name">Jawad</span></h1>
        <h1>Welcome to my blog websit</h1>
        <p>
          Don't miss out on the latest news about Travel tips, Hotels review,
          Food guide...
        </p>
        <form action="" class="form-subcriber mt-30 newsletter-form">
          <input type="text" class="form-control bg-white font-small" />
        </form>
      </div>
      <img
        src="https://stories.botble.com/storage/general/featured.png"
        alt=""
      />
    </div>
  </div>
</div>
