* {
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #8064A2 !important;
}