<div class="container">
  <div class="row">
    <div class="top-image">
      <img src="https://stories.botble.com/storage/general/logo.png" alt="" />
    </div>
    <div class="col2">
      <div>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/800px-Flag_of_Lebanon.svg.png?20190109154742"
          alt=""
          class="flag"
        />
        <span class="name-flag">Lebanon</span>
      </div>

      <span class="vl"></span>
      <button class="btn">
        <span class="mr-15 text-muted font-small">
          <i class="bi bi-search"></i> Search
        </span>
      </button>
      <a type="button" class="btn"> Buy Now </a>
    </div>
  </div>
</div>
<hr />
