<div class="container align-self-center">
  <div class="main-nav d-none d-lg-block float-left">
    <nav>
      <ul class="main-menu d-none d-lg-inline font-small">
        <li class="">Home</li>
        <li class="">Travel</li>
        <li class="">Destination</li>
        <li class="">Hotels</li>
        <li class="">Lifestyle</li>
        <li class="">Blog</li>
        <li class="">Galleries</li>
        <li class=""></li>
        <li class="">Contact</li>
      </ul>
    </nav>
  </div>
</div>
